<%-include('../../Partial/navBar/header.ejs')%>

<style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0px 200px;
          overflow: hidden;
          background-color: #333;
          height: 75px
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 25px 25px;
          text-decoration: none;
          height: 75px
        }
        
        li a:hover {
          background-color: #b29137;
        }
        </style>

<table style = 'width:100%'>
    <body>
        <tr>

                <ul>
                            <%Data.forEach(Movie=>{%>
                                <li><h4><a href='/movies'>All Movies</a></h4></li>
                            <%if(Movie.name=='Action'){%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>Action</h4></li>
                            <%}else if(Movie.name=='Romance') {%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>Romance</h4></li>
                            <%}else if(Movie.name=='Horror') {%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>Horror</h4></li>
                            <%}else if(Movie.name=='Comedy') {%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>Comedy</h4></li>
                            <%}else if(Movie.name=='Thriller') {%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>Thriller</h4></li>
                            <%}else if(Movie.name=='18+') {%>
                                <li><h4><a href='/movies/category/<%=Movie.id%>'>18+</h4></li>
                            <%}%>
                        <%})%>
                </ul>
                
      
       
          </body>
    </tr>
</body>
</table>
    