<%-include('../../Partial/navBar/header.ejs')%>
<%-include('../../Partial/Categories/category.ejs')%>
<table style='width:100%'>
    <tr style=" font-size: 30px">
        <td>Name Movies</td>
        <td>Price</td>
        <td>Seats</td>
        <td>Option</td>
    </tr>
    <% Data.forEach(Movie=> {%>
        <tr style='font-size:20px'>
            <td><%=Movie.name%></td>
            <td><%=Movie.price%></td>
            <td><%=Movie.seats%></td>
            <%if(Pass==1){%>
                <td><a href='/buy/<%=Movie.name%>' style='font-size:20px'>Buy</a></td>
            <%}else{%>
                <td><a href='/users/login'>Buy</a></td>
            <%}%>
        </tr>
    <%})%>
</table>