<%-include('../../Partial/navBar/header.ejs')%>
<style>



body {
  background-color: #f1f1f1;
  font-family:Arial, Helvetica, sans-serif
}

/* Center website */


h1 {
  font-size: 50px;
  word-break: break-all;
}


.row {
  margin: 8px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 23%;
  padding : 25px
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding : 20px;
  height : 80%;
}


.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #b29137;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px
}

.container .btn:hover {
  background-color: black;
}

</style>

<head>
    
    <img src="header1.jpg" alt="header" style="width: 100%">

</head>

<body>

        <div class="main">
                <div class="row">
                  <div class="column">
                    <div class="content">
                      <img src="it.jpg" alt="Mountains" style="width:100%";>
                      <h3 style = "text-align: center">IT</h3>
                      <p style = "text-align: center ; padding:10px">Defeated by members of the Losers' Club, the evil clown Pennywise returns 27 years later to terrorize the town of Derry, Maine, once again.</p>
                        <div class="container">

                            <button class="btn">Buy Ticket</button>

                        </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="al.jpg" alt="Lights" style="width:100%">
                      <h3 style = "text-align: center">Alladin</h3>
                      <p style = "text-align: center ; padding:10px">Aladdin is a lovable street urchin who meets Princess Jasmine, the beautiful daughter of the sultan of Agrabah. Aladdin stumbles upon a magic oil lamp that unleashes a powerful, wisecracking, larger-than-life genie.</p>
                      <div class="container">

                            <button class="btn">Buy Ticket</button>

                        </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="jo.jpg" alt="Nature" style="width:100%">
                      <h3 style = "text-align: center">Johny Englih 3</h3>
                      <p style = "text-align: center ; padding:10px">Pascal Sauvage (John Malkovich),the country's top undercover agents, and mediocre spy Johnny English (Rowan Atkinson)</p>
                      <div class="container">

                            <button class="btn">Buy Ticket</button>

                        </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="content">
                    <img src="mi.jpg" alt="Mountains" style="width:100%">
                      <h3 style = "text-align: center">Mission Impossible : Fall Out</h3>
                      <p style = "text-align: center ; padding:10px" >Arms dealer John Lark and a group of terrorists known as the Apostles plan to use three plutonium cores for a simultaneous nuclear attack</p>
                      <div class="container">

                            <button class="btn">Buy Ticket</button>

                        </div>
                    </div>
                  </div>
                </div>
               
        
                  <div class="row">
                    <div class="column">
                      <div class="content">
                        <img src="th.jpg" alt="theAvengers" style="width:100%";>
                        <h3 style = "text-align: center">The Avengers : End Game</h3>
                        <p style = "text-align: center ; padding:10px">Defeated by members of the Losers' Club, the evil clown Pennywise returns 27 years later to terrorize the town of Derry, Maine, once again.</p>
                          <div class="container">
  
                              <button class="btn">Buy Ticket</button>
  
                          </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="content">
                      <img src="ti.jpg" alt="titanic" style="width:100%">
                        <h3 style = "text-align: center">Titanic</h3>
                        <p style = "text-align: center ; padding:10px">Aladdin is a lovable street urchin who meets Princess Jasmine, the beautiful daughter of the sultan of Agrabah. Aladdin stumbles upon a magic oil lamp that unleashes a powerful, wisecracking, larger-than-life genie.</p>
                        <div class="container">
  
                              <button class="btn">Buy Ticket</button>
  
                          </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="content">
                      <img src="te.jpg" alt="ted" style="width:100%">
                        <h3 style = "text-align: center">TED 2</h3>
                        <p style = "text-align: center ; padding:10px">Pascal Sauvage (John Malkovich),the country's top undercover agents, and mediocre spy Johnny English (Rowan Atkinson)</p>
                        <div class="container">
  
                              <button class="btn">Buy Ticket</button>
  
                          </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="content">
                      <img src="jok.jpg" alt="joker" style="width:100%">
                        <h3 style = "text-align: center">Joker</h3>
                        <p style = "text-align: center ; padding:10px" >Arms dealer John Lark and a group of terrorists known as the Apostles plan to use three plutonium cores for a simultaneous nuclear attack</p>
                        <div class="container">
  
                              <button class="btn">Buy Ticket</button>
  
                          </div>
                      </div>
                    </div>
                  </div>
                        
</body>

<!-- <table style='width:100%'>
   
    <tr style=" font-size: 30px">
        <td>Name Movies</td>
        <td>Price</td>
        <td>Seats</td>
        <td>Option</td>
    </tr>
    <% Data.forEach(Movie=> {%>
        <tr style='font-size:20px'>
            <td><%=Movie.name%></td>
            <td><%=Movie.price%></td>
            <td><%=Movie.seats%></td>
            <%if(Pass==1){%>
                <td><a href='/movies/buy/<%=Movie.name%>' style='font-size:20px'>Buy</a></td>
            <%}else{%>
                <td><a href='/users/login'>Buy</a></td>
            <%}%>
        </tr>
    <%})%>
</table> -->

<%-include('../../Partial/navBar/footer.ejs')%>