<%-include('../../Partial/navBar/header.ejs')%>
<% let totalPrice = qty * Movie.price %>
<div>
    <h1>Purchase Successfully</h1>
    <h3>
        Movie Name : <%=Movie.name%><br>
        Quantity :<%=qty%><br>
        Total Price : <%=totalPrice%><br>
        Seats : <%=seats%><br>
        Code Booking : <%=Code%>
    </h3>

</div>