<%-include('../../Partial/navBar/header.ejs')%>
<% let totalPrice = qty * Movie.price %>
<%let hasil = Movie.name.slice(0,2)+''%>
    <%for( let i=0; i<5; i++){%>
        <%let kata = 'r32rh3ipj3if0fh9heqji9jer032523t22';%>
        <%let random = Math.round(Math.random() * kata.length);%>
        <%hasil+= kata[random]%>
<%}%>
<div>
    <h1>Purchase Successfully</h1>
    <h3>
        Movie Name : <%=Movie.name%><br>
        Quantity :<%=qty%><br>
        Total Price : <%=totalPrice%><br>
        Seats : <%=seats%><br>
        Code Booking : <%=hasil%>
    </h3>

</div>